* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    background: rgb(98, 216, 51);
    box-sizing: border-box;
    overflow: hidden;
}

.black-side {
    height: 100%;
    width: 50%;
    background: black;
    overflow: hidden;
    color: rgb(98, 216, 51);
    position: absolute;
}

.slide-text {
    position: absolute;
    top: 50%;
    white-space: nowrap;
    font-size: 10em;
    line-height: 220px;
    overflow: hidden;
    font-family: "Oswald", Helvetica, sans-serif;
    animation: slide 15s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate(0, -50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}
