* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: black;
}

.container {
    display: inline-block;
    width: 60%;
}

.button {
    position: relative;
    background-color: transparent;
    height: 150px;
    width: 150px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    animation: 2s linear;
    margin-left: 100px;
    margin: 30px 80px 30px 0;
}

.button:active {
    bottom: -4px;
}

.button:focus {
    outline-style: none;
}

.button::before {
    content: "";
    background: #000;
    width: 30px;
    height: 6px;
    position: absolute;
    top: -6px;
    left: 20%;
    transition: 0.5s linear;
    transform: skew(50deg);
}

.button::after {
    content: "";
    background: #000;
    width: 30px;
    height: 7px;
    position: absolute;
    bottom: -6px;
    right: 20%;
    transition: 0.5s linear;
    transform: skew(50deg);
}

.button:hover::before {
    left: 75%;
}

.button:hover::after {
    right: 75%;
}

.icon-css {
    color: #44ffe2;
}

.icon-html {
    color: #faaa4e;
}

.icon-php {
    color: #9718ff;
}

.icon-js {
    color: #faf756;
}

.icon-laravel {
    color: #f84343;
}

.icon-nodejs {
    color: #9bf843;
}

.icon-docker {
    color: #43a7f8;
}

.icon-github {
    color: #f843d1;
}

.icon-react {
    color: #5543f8;
}

.css {
    border: 6px solid #44ffe2;
    box-shadow: 0 0 12px #44ffe2;
}

.html {
    border: 6px solid #faaa4e;
    box-shadow: 0 0 12px #faaa4e;
}

.php {
    border: 6px solid #9718ff;
    box-shadow: 0 0 12px #9718ff;
}

.js {
    border: 6px solid #faf756;
    box-shadow: 0 0 12px #faf756;
}

.laravel {
    border: 6px solid #f84343;
    box-shadow: 0 0 12px #f84343;
}

.nodejs {
    border: 6px solid #9bf843;
    box-shadow: 0 0 12px #9bf843;
}

.docker {
    border: 6px solid #43a7f8;
    box-shadow: 0 0 12px #43a7f8;
}

.github {
    border: 6px solid #f843d1;
    box-shadow: 0 0 12px #f843d1;
}

.react {
    border: 6px solid #5543f8;
    box-shadow: 0 0 12px #5543f8;
}
